

.my-container{
    display: grid;
    grid-template-columns: 3fr 3fr 400px;
    grid-template-rows: 50px 250px 50px 3fr auto;
    background-color: #160d27;
    justify-content: stretch;
}

.nav{
    grid-column-start: 1;
    grid-column-end: 4;
    border: white 2px;

}

.logo{
    grid-column: 3;
    justify-self: center;
    padding-top: 10%;
    padding-left: 60%;
    padding-right: 10%;
}

.linkedin{
    grid-column: 3;
    grid-row: 1;
    background-color: black;
}

.details-buttons{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    justify-self: start;
}

.info-monitor{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 4;
    justify-self: center;
}

.typewrite{
    color:white;
    text-decoration: none
}

.about{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    justify-self: center;
    height: 250px;
}
/*.about-panel{
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: black;
}

/*body {
    background-color:#ce3635;
    text-align: center;
    color:#fff;
    padding-top:10em;
  }
  
  * { color:#fff; text-decoration: none;}

