

.my-container{
    display: grid;
    grid-template-columns: 3fr 400px 3fr;
    grid-template-rows: 50px 4fr 3fr 100px;;
    background-color: #160d27;
}

.nav{
    grid-column-start: 1;
    grid-column-end: 4;
}

.logo{
    grid-column: 3;
    justify-self: center;
    padding-top: 10%;
    padding-left: 60%;
    padding-right: 10%;
}

.info-monitor{
    grid-column: 2;
    grid-row: 3;
    
}

.typewrite{
    color:white;
    text-decoration: none
}

.about-panel{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: black;
}

/*body {
    background-color:#ce3635;
    text-align: center;
    color:#fff;
    padding-top:10em;
  }
  
  * { color:#fff; text-decoration: none;}

