

.my-container{
    display: grid;
    grid-template-columns: 3fr 400px 3fr;
    grid-template-rows: 4fr 3fr 2fr;;
    background-color: #160d27;
}

.logo{
    grid-column: 3;
    justify-self: center;
    padding-top: 10%;
    padding-left: 60%;
    padding-right: 10%;
}

.info-monitor{
    grid-column: 2;
    grid-row: 2;
    
}

.typewrite{
    color:white;
    text-decoration: none
}

/*body {
    background-color:#ce3635;
    text-align: center;
    color:#fff;
    padding-top:10em;
  }
  
  * { color:#fff; text-decoration: none;}

